<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1 {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <br><br />
        <h1 class="text-center">
            Your Files is Ready to Download (Link Will Expire 24 Hours)
        </h1>
        <br />
        <input type="text" id="path" hidden value="<%=path%>" />
        <h2 class="text-center">File Info</h2>
        <h3 class="text-center">
            <%=path%>
        </h3>
        <br />
        <input type="text" value="<%=path%>" id="path" hidden />
        <div class="form-group container">
            <button onclick="download()" class="btn-danger btn-block">
                Download Files
            </button>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    function download() {
        window.open("/download?path=/public/uploads/" + $("#path").val());
        location.reload();
    }
</script>

</html>